<div class="antialiased">
  <section class="p-4 md:ml-64 h-auto pt-20">
    <% content_for :title, "Fundraisers" %>
    <div class="flex justify-between items-center">
      <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Fundraisers</h1>
    </div>
    <div id="fundraisers" class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
      <% @fundraisers.each do |fundraiser| %>
        <%= render fundraiser %>
      <% end %>
    </div>
  </section>
</div>
