<div class="antialiased">
  <section class="p-4 md:ml-64 h-auto pt-20">
    <div class=" antialiased max-w-lg px-4 py-6 bg-white rounded-lg shadow dark:bg-gray-700">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update Masjid</h2>
      <%= render "form", masjid: @masjid %>
    </div>
  </section>
</div>
