<div class="antialiased">
  <main class="p-4 md:ml-64 h-auto pt-20">
    <section>
      <% unless masjid_signed_in? %>
        <%= render 'signed_in' %>
      <% end %>
    </section>
  </main>
</div>