<div id="<%= dom_id balance %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Balance date:</strong>
    <%= balance.balance_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= balance.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Masjid:</strong>
    <%= balance.masjid_id %>
  </p>

</div>
