<div class="antialiased">
  <section class="p-4 md:ml-64 h-auto pt-20">
    <div class="flex justify-between items-center">
      <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Contact Details</h1>
    </div>
    <!-- Main Content Card -->
    <div class="grid gap-4 px-4 mb-4 sm:mb-5 sm:grid-cols-2 sm:gap-6 md:gap-12">
      <%= render "contact", contact: @contact %>
    </div>
    <div id="donations" class="py-4 px-4 mx-auto border-gray-300 dark:border-gray-600 rounded-xl h-128">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <%= render "tables/donation_table",  table: @table_donations, query: @q, pagy: @pagy, model: :donation %>
      </div>
    </div>
  </section>
</div>
