<div class="antialiased">
  <section class="p-4 md:ml-64 h-auto pt-20">
    <% content_for :title, "Donations" %>
    <div class="flex justify-between items-center">
      <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Donations</h1>
    </div>
    <div id="donations" class="border-gray-300 dark:border-gray-600 rounded-xl h-128">
      <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <%= render "tables/donation_table",  table: @table_donations, query: @q, pagy: @pagy, model: :donation %>
      </div>
    </div>
  </section>
</div>
