<div class="antialiased bg-gray-50 dark:bg-gray-900">
  <main class="p-4 md:ml-64 h-auto pt-20">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <% content_for :title, "Prayers" %>
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Prayers</h1>
    </div>
    <div id="prayers" class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3 xl:grid-cols-4">
      <% @prayers.each do |prayer| %>
        <%= render prayer %>
      <% end %>
    </div>
  </main>
</div>
<%= render "spinners/spinner", model: :prayer %>
