<div id="<%= dom_id revenue %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= revenue.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= revenue.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Revenue date:</strong>
    <%= revenue.date %>
  </p>

</div>
