<div class="antialiased">
  <section class="p-4 md:ml-64 h-auto pt-20">
    <div class="flex justify-between items-center">
      <h1 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Expense Details</h1>
    </div>
    <!-- Main Content Card -->
    <%= render "expense", expense: @expense %>
  </section>
</div>
